@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{              
    font-family: 'Comfortaa', cursive;
    background-color: rgb(44, 44, 44);
    background-image: url(../images/bimg.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}

#wrapper{
    background-color: rgb(44, 44, 44);
    border: 3px hidden white;
    margin: 0px auto; 
    width: 1024px;
    background-image: url(../images/bimg.jpg);
    padding: 15px;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}

#menu ul{
    list-style: none;
}
#menu {
    width: auto;
    background-color:rgb(37, 37, 37);
    overflow: auto;
    margin: 20px 50px 40px;
    border-radius: 50px;
}
  
#menu a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    text-transform:capitalize;
    font-size: 17px;
    width: 25%; 
    text-align: center;
}

#menu a:hover {
    background-color: rgb(196, 196, 196);
    color: black;
}

#l1, #l2, #l3, #l4, #l5{
    width: 70%;
    margin: .5em;
    border: 1px hidden white;
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color:rgb(37, 37, 37);
    color: white;
    text-align: justify;
    border-radius: 50px;
}

.topinfo{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    text-transform: capitalize;
    text-align: center;
    font-style: normal;
    text-decoration: none;    
}

.gif {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    padding: 10px;
    height:auto;
    clear: both;
}

a.button {
    border: 4px hidden;
    border-radius: 30px;
    color:black;
    padding: 6px;
    margin-left: 20px;
    clear: both;
    background-color:white;
    padding: 15px;
    text-decoration: none;
    text-transform:capitalize;
    font-size: 17px;
    width: fit-content;
    text-align: center;
}

a.btop{
    margin-left: 41.5%;
}

#fbutton {
    margin-left: 24.5%;

}

a.button:hover {
    background-color: rgb(105, 104, 104);
    color:white;
}

hr.mid{
    margin-left:50px;
    margin-right:50px;
    margin-bottom: 15px;
    border: 1px dashed white;
}

.pbold{
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
    clear: both;
}

.rclist{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.typela{
    list-style-type:lower-alpha;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.typeua{
    list-style-type:upper-alpha;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.typelr{
    list-style-type:lower-roman;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.typeur{
    list-style-type:upper-roman;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.uld{
    list-style-type: disc;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.ulc{
    list-style-type: circle;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.uls{
    list-style-type: square;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.dd1{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    margin-right: 50px;
}

.dd2{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
    margin-right: 50px;
}

.footer{
    color:white;
    margin-top: 50px;
    float:right;
    opacity: 0.20;
}